/* stylelint-disable selector-id-pattern */
/* stylelint-disable color-hex-length */
/* stylelint-disable selector-pseudo-element-no-unknown */
/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable shorthand-property-no-redundant-values */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
/* stylelint-disable rule-empty-line-before */
/* stylelint-disable selector-pseudo-element-colon-notation */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable font-family-name-quotes */
/* stylelint-disable length-zero-no-unit */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable value-no-vendor-prefix */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable selector-class-pattern */
@use '../../../palette' as *;

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 4px;
  width: 222px;
  background: white;
  color: var(--password-color-button);
  font-size: 12px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  left: 9%;
  top: 18%;
  z-index: 99999;
  box-shadow: 3px 4px 15px 1px #00000024;
}

[data-title2]:hover::before {
  content: attr(data-title2);
  position: absolute;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 4px;
  width: 222px;
  background: white;
  color: var(--password-color-button);
  font-size: 12px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  left: 9%;
  top: 5.5vh;
  z-index: 99999;
  box-shadow: 3px 4px 15px 1px #00000024;
}

.input_wrapper_fl.datalist_container {
  padding-left: 11px;
}

.title_view_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 99%;
  margin: auto;
}

.container.body_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// INFO COMPONENT
.listing_item_info {
  display: flex;
  flex-direction: column;
  background: #e0e1e980;
  border-radius: 7px;
  padding: 19px;
  position: relative;
}

.listing_item_info span,
p {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.listing_item_info hr {
  margin: 0px 0px 19px 0px;
}

.listing_item_info b {
  color: var(--password-color-button);
  font-size: 16px;
}

.info_actions_wrapper {
  width: fit-content;
  display: flex;
}

span.actions_container_listing {
  display: flex;
  justify-content: flex-end;
}

.info_actions_wrapper button {
  background: #d1d1d1ab;
  border-radius: 6px;
  padding: 5px 13px !important;
  margin-right: 5px;
  outline: transparent;
  border: none;
}

.input_wrapper_fl {
  width: 83%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
}

button:disabled {
  pointer-events: none;
  background: var(--form-control-bg) !important;
}

button:disabled > i {
  color: #b1b1b1 !important;
}

app-datalist {
  width: 100%;
}

.input_true {
  height: 26px;
  width: -webkit-fill-available;
  margin-left: 9px;
  border-radius: 5px;
  border: 1px solid #52525278;
  color: var(--password-color-button);
  max-width: 475px;
}

textarea.input_true {
  height: 77px;
}

.info_actions_wrapper button i {
  font-size: 14px;
  color: var(--password-color-button);
}

.info_actions_wrapper button:hover {
  background-color: #bdbdbd !important;
  cursor: pointer;
}

.listing_item_info.dates {
  padding: 8px;
  margin-top: 4px;
  text-align: left;
}

b.title {
  font-weight: 400;
  font-size: 23px !important;
  color: #7c7c7c !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 7%;
}

b.title i {
  font-size: 16px;
  color: var(--password-color-button);
}

.inputEdit {
  background: none;
  outline: none;
  border: 0;
  width: -webkit-fill-available;
  width: fill-available;
  pointer-events: none;
  height: 26px;
  overflow-y: hidden;
  resize: none;
}

textarea.inputEdit {
  height: 26px !important;
  min-height: 26px !important;
  padding: 0rem 0.75rem;
}

form span {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-transform: capitalize;
}

select.input_true {
  padding: 0px 14px;
}

select.inputEdit {
  padding: 0px 14px;
}

form b.editStyle {
  font-weight: 300;
  font-size: 14px !important;
}

span.spanEditing {
  display: flex;
  flex-direction: column !important;
}

span.spanEditing .input_wrapper_fl {
  width: 100% !important;
  max-width: 100% !important;
}

.spanEditing .input_wrapper_fl .input_true {
  width: 100% !important;
  max-width: 100% !important;
  margin-left: inherit !important;
  padding: 0px 2px;
  border: none;
}

mark {
  background: #f44336 !important;
  border-radius: 5px !important;
  color: #ffffff !important;
  padding: 0px 11px !important;
  line-height: inherit;
  width: fit-content;
  /* stylelint-disable-next-line scss/double-slash-comment-empty-line-before */
  // white-space: nowrap;
  height: fit-content;
}

.listing_item_info.v2 .actions_container_listing.v2 a {
  text-decoration: none;
  padding: 7px;
}

.input_wrapper_fl.urlProject:hover > a#url_project:before {
  visibility: visible;
}

a#url_project:before {
  visibility: hidden;
  display: inline-block;
  font-family: 'fontAwesome';
  content: '\f14c';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-feature-settings: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  color: var(--form-control-color);
  margin-right: 5px;
}
