/* stylelint-disable selector-pseudo-element-no-unknown */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable length-zero-no-unit */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */
// .title_view_list {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-content: center;
//     align-items: center;
//     width: 99%;
//     margin: auto;
// }

div b {
  font-weight: 300;
  font-size: 14px !important;
}

input,
textarea {
  width: 100% !important;
  max-width: 100% !important;
  margin-left: inherit !important;
  padding: 0px 2px;
  border: none !important;
}

.add_wrapper {
  background: #e0e1e980;
  padding: 11px;
  max-width: 58%;
  margin: auto;
  border-radius: 7px;
  margin-bottom: 8%;
  position: relative;
}

.info_actions_wrapper button {
  background: #d1d1d1ab;
  border-radius: 6px;
  padding: 5px 13px !important;
  margin-right: 5px;
  outline: transparent;
  border: none;
}

.info_actions_wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.info_actions_wrapper button i {
  font-size: 14px;
  color: var(--password-color-button);
}

.info_actions_wrapper button:hover {
  background-color: #bdbdbd !important;
  cursor: pointer;
}

img.image-responsive-height.demo-mw-500 {
  max-width: 300px;
  margin: auto;
  background: transparent;
}

button:disabled {
  pointer-events: none;
}

button:disabled i {
  color: #bdbdbd !important;
}

.card-body p {
  margin-bottom: 0px;
}

.card-body p,
h3 {
  color: var(--password-color-button);
}

.card-title {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 100;
}

.card.card-transparent {
  background: transparent;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  border: none;
}

.card-header {
  /* stylelint-disable-next-line color-hex-length */
  background: #ff000000;
  border: none;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: transparent;
  padding: 1rem;
}

.input_wrapper_fl {
  margin: 3px 0px;
}

:host ::ng-deep ul.datalist_list {
  max-width: 100% !important;
}

.customselect {
  border: 1px solid #6e6e6e5c;
  border-radius: 6px;
  height: 26px;
  padding: 0px 2px;
  color: inherit;
}
