/* stylelint-disable selector-id-pattern */
/* stylelint-disable selector-pseudo-element-colon-notation */
/* stylelint-disable selector-pseudo-element-no-unknown */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable comment-empty-line-before */
/* stylelint-disable font-family-name-quotes */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable length-zero-no-unit */
/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable number-max-precision */
/* stylelint-disable declaration-block-no-duplicate-properties */
/* stylelint-disable shorthand-property-no-redundant-values */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable rule-empty-line-before */

.list-item-wrapper {
  width: 98%;
  display: flex;
  flex-direction: column;
  margin: 18px;
  background: #ffffffb3;
  border-radius: 10px;
  border: 1px solid #aeaeae3b;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.active {
  background: #c4c4c4 !important;
  color: white;
}

.nopointer {
  pointer-events: none;
}

.list-items-component {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 10px 12px;
  padding: 3px;
  background-color: #e0e1e980;
  border-radius: 10px;

  // border: 1px solid #7e7e7e33;
  // box-shadow: 1px 1px #88888869;
}

.list-items-component span {
  margin: 4px;
  width: 14%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-items-component:hover {
  background-color: #d6d6d678;
  cursor: pointer;
}

.list-items-component-titles {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 10px 12px;
  padding: 7px;
  background-color: #e0e1e980;
  border-radius: 10px;
}

.list-items-component-titles span {
  width: 14%;
  text-align: center;
  text-transform: capitalize;

  // background: #d7d7d7;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.top-bar-list {
  margin: 13px 12px 2px 12px;
  display: flex;
  justify-content: space-between;
}

.top-bar-list span {
  padding: 3px;
}

#right-side-top-bar i {
  padding: 6px;
  margin: 0px 0px 0px 8px;
  background-color: #efefef;
  border-radius: 6px;
  font-size: 17px;
}

input#search {
  padding: inherit;
  width: inherit;
  border-radius: 8px;
  border: 1px solid #bfbfbf;
  padding-left: 4px;
  font-size: inherit;
  line-height: inherit;
  display: inherit;
  height: 29px;
}

div#right-side-top-bar {
  padding: 2px;
  display: flex;
}

#right-side-top-bar i:hover {
  background-color: #e3e3e3;
  cursor: pointer;
}

input#search:focus-visible {
  outline-color: #ababab;
  outline-width: 1px !important;
}

input#search:focus {
  outline-color: #ababab;
  outline-width: 1px !important;
  box-shadow: none;
}

.alert.alert-danger.search_error {
  background-color: inherit;
  border: inherit;
  color: red;
  font-size: 13px;
  display: none;
  padding: inherit;
  margin: inherit;
  margin-right: 8px;
}

span.item-name a:before {
  visibility: hidden;
  font-family: 'fontAwesome';
  content: '\f14c';
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-feature-settings: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  color: #838383bd;
  margin-right: 5px;
}

span.item-name:hover > a:before {
  visibility: visible;
}

span.item-name a {
  text-decoration: none;
  text-transform: capitalize;
}

.input_wrapper_search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.form-control.ng-invalid.ng-dirty.is-invalid.ng-touched + .search_error {
  display: block;
}

i.fa.fa-sort {
  margin-left: 4px;
  font-size: 13px;
}

.list-items-component-titles span:hover > i {
  display: block !important;
  color: white;
}

.list-items-component-titles span:hover {
  background: #c4c4c4 !important;
  color: white;
  cursor: pointer;
}

.items-wrapper-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.list-items-component-titles span.training-job {
  pointer-events: none;
}

.list-items-component-titles span.actions {
  pointer-events: none;
}

h2 {
  margin: 4px 11px;
  font-size: 24px;
  color: black;
}

// PAGINATION
.pagination {
  width: 100%;
  height: 60px;
  border-radius: 9px;
  overflow: hidden;
  padding-right: 1%;
}

.pagination,
.pagination__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
}

.pagination__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 350;
  height: 35px;
  border-radius: 9px;
  margin: 0 9px;
  overflow: hidden;
}

.pagination__item {
  width: 50px;
  height: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 1.1rem;
}

.pagination__item > button,
.pagination__button {
  border: none;
  outline: none;
  stroke: none;
  box-shadow: none;
  cursor: pointer;
  border-radius: 8px;
  background: #eeeff4;
  font-size: 13px;
}

.pagination__item > button:hover {
  background: #c7c7c7;
  color: white;
}

.pagination__button:not([disabled]):hover {
  background: #c7c7c7;
  color: white;
}

.pagination__button:disabled:hover {
  cursor: not-allowed !important;
  pointer-events: all !important;
}

.pagination__item > button {
  width: 45px;
  height: 35px;
}

.pagination__item > button[data-level='target'] {
  background: var(--color-primary);
  color: var(--color-light-gray);
}

.pagination__button {
  width: 35px;
  height: 35px;
  margin: 0 2px;
}

.pagination__item button.active-page {
  background: #c7c7c7 !important;
  color: white;
  border: 1px solid #a5a5a585 !important;
}

// ACTIONS BUTOONS
.list-items-component span.actions {
  background: #e0e1e9f5;
  border-radius: 7px;
  border: 1px solid #ffffff8c;
  z-index: 999999;
}

span.actions:hover {
  background: #8f8f8f !important;
  color: white;
  border-radius: 6px;
}

button.more_button {
  outline: none;
  stroke: none;
  box-shadow: none;
  cursor: pointer;
  border-radius: 8px;
  background: #e3e3e3;
  border: 1px solid #9f9f9fb3;
  height: 24px;
  font-size: 0.78571429rem;
}

span.actions i {
  font-size: 14px;
  padding-top: 3px;
}

// DETAILS
.list-items-component.details {
  width: 84.5%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 0px -1px;
  padding: 1px 0px;
  background-color: #c4c4c4;
  border-radius: 10px;
  position: static;
  opacity: 1;
  animation: fade_in_show 0.1s;
  transform-origin: 100% 50%;
  margin-top: -34px;
  z-index: 999999;
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.actions_buttons span {
  background: #eeeff4;
  border-radius: 6px;
}

.actions_buttons span:hover {
  background: #fff;
}

.list-items-component.details div {
  display: flex;
  flex-direction: column;
}

.item-info-details {
  display: flex;
  flex-direction: column;
  margin: 1% 0px;
}

.item-info-details > span,
p {
  margin: 0px 4px 22px 4px;
  text-align: left;
  overflow: inherit !important;
}

.list-items-component.details .actions_buttons {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-evenly;
  width: 100%;
}

span#Pagination_Page_Size {
  width: 33%;
  padding-left: 1%;
}

span#Filter_1 {
  width: 33%;
  padding-left: 1%;
  background-color: #eeeff4;
  border-radius: 6px;
}

span#Filter_2 {
  width: 33%;
  padding-left: 1%;
  background-color: #eeeff4;
  border-radius: 6px;
  margin-left: 5px;
}

select#page_size:focus-visible {
  outline: none;
  border: 1px solid #c3c3c370;
}

div#filters_wrapper {
  width: 70%;
  max-width: 70%;
}

div#filters_wrapper span {
  position: relative;
}

select#filter1 {
  width: 130px;
  border: 1px solid #6e6e6e5c;
  border-radius: 6px;
  margin-left: 9px;
}

select#filter2 {
  width: 130px;
  border: 1px solid #6e6e6e5c;
  border-radius: 6px;
  margin-left: 9px;
}

i.fas.fa-window-close:hover {
  background: #d1d1d1;
  padding: 6px !important;
  border-radius: 6px;
}

i.fas.fa-window-close {
  padding: 6px !important;
  cursor: pointer;
  margin-left: 2px;
}

#page_size {
  width: 53px;
  border: 1px solid #6e6e6e5c;
  border-radius: 6px;
  margin-left: 9px;
}

// STATUS OF TRAINING JOB
:host ::ng-deep div.training_job_status {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
}

:host ::ng-deep div.training_job_status.running {
  background: green;
}

div.training_job_status.idle {
  background: black;
}

:host ::ng-deep div.training_job_status.running.animated {
  animation: blinker 2.5s ease-in-out infinite;
}

:host ::ng-deep div.training_job_status.finished {
  background: #787878;
}

:host ::ng-deep div.training_job_status.aborted {
  background: #ff1556;
}

:host ::ng-deep div.training_job_status.failed {
  background: #ff1556;
}

:host ::ng-deep .status_container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

#textStatus {
  margin: 0px 2%;
  width: fit-content;
  min-width: 126px;
}

span.training_job_status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
