<div class="title_view_list">
  <div class="container-md-height m-b-20">
    <div class="row m-lg-0">
      <div class="col-xl-7 col-lg-6">
        <div class="full-height">
          <div class="card-body text-center">
            <img
              class="image-responsive-height demo-mw-500"
              src="/assets/img/project_image.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6">
        <div class="card card-transparent">
          <div class="card-header">
            <div class="card-title">Your projects</div>
          </div>
          <div class="card-body">
            <h3>Your projects</h3>
            <p>From this page, you can access , Clone and Delete projects.</p>
            <br />
            <span
              [routerLink]="['/dashboard/project/addproject']"
              class="add_button blob button"
              ><i
                class="fa fa-plus"
                aria-hidden="true"
                style="margin-right: 9px"
              ></i
              >Create a new project</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="container">
  <app-list-items
    [entityName]="'Project'"
    [listItem]="projectsListToDisplay"
    [structurelist]="structure"
    [countP]="count"
    (search)="setSearchTerm($event)"
    (ordering)="orderList($event)"
    (setPageE)="setPage($event)"
    [ActionListD]="listActions"
    (delete)="showHideModal($event)"
    (clone)="CloneProject($event)"
    (edit)="editProject($event)"
    (PageSize)="changePageSize($event)"
    (trainingJob)="AddTrainingJob($event)"
    (files)="addFiles($event)"
  >
  </app-list-items>
  <app-delete-modal
    *ngIf="deleteModal"
    [entityName]="'Project'"
    [EntityToRemove]="projectRemove"
    [itemsToRemove]="itemToRemove"
    (close)="showHideModal()"
    (delete)="DeleteProject($event)"
    [entityNameKeyP]="'name'"
  >
  </app-delete-modal>
</div>
